body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    color: white;
    font-family: monospace;
    border: none;
    border-radius: 8px;
    margin: 1em;
    font-weight: bold;
}
.btn-dis{
    color: gray;
    border-radius: 8px;
    border: solid lightgray 1px;
}
.btn-large{
    width: 10em;
    height: 4em;
}
.btn-Med{
    width: 8em;
    height: 3em;
}
.btn-background{
    background: linear-gradient(90deg, rgb(37, 197, 197), navy) ;
    opacity: 0.8;
}
.btn-fontLarge{
    font-size: 1.2vw;
}
.btn-fontMed{
    font-size: 1em;
}
.btn-shadow{
    box-shadow: 0px 3px 6px 1px gray; 
}
.esc{
    font-size: 0.22em;
    text-align: center;
    position: relative;
    top: -0.5em;
}
.Search{
    margin: 1em;
    display: flex;
    padding-bottom: 0;
    border-bottom: solid lightgray 2px ;
    border-bottom-width: 1px;
    margin-bottom: 2em;
}
.Search > input{
    width: 100%;
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    order:2;
}
.member{
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: solid gray 1px;
    flex-wrap: nowrap;
    border-radius: 3px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}
.btns{
    display: flex;
    justify-content: center;
    border: none;
}
.member > input, .member > label, .Search > input, .Search > i{
    margin: 0.5em;
}
.member > label >i{
    margin-right: 0.6em;
}
.member > input{
    order:2;
    margin-left: auto;
    width: 100%;
    box-sizing: border-box;
    
}
.member > label{
    order:1;
}
#AddMemebrsList{
    display: block;
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    box-sizing: border-box;
}
.Search > i{
    color:gray;
    margin-right: 0.1em;
    order:1;
    transition: 0.5s ease-in;
}
.member > label{
    color: gray;
    transition: 1s ease-out;
}
.member > input[type=checkbox]{
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.member > input[type=checkbox]:checked{
    background-color:white;
    border-color: rgb(28, 181, 28);
    appearance: initial;
    color:  rgb(28, 181, 28);
    text-align: center;
}
.member > input[type=checkbox]::before {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    content: '';
    display: inline-block;
    text-align: center;
}
.member > input[type=checkbox]:checked::after {
    border-color: rgb(28, 181, 28);
    content: '\2714';
    display: block;
    position: relative;
    bottom: 0.25px;
    right: 0.20px;
    z-index: 100;
    
    font-weight: bold;
    text-align: center;
}
.member > input[type=checkbox]:checked + .label-check  {
    color: #333;
    font-weight: bold;
    transition: 1s ease-out;
}
.headerMembers{
    display: flex;
    margin: 1em;
    margin-top: 0em;
    margin-bottom: 2.5em;
}
.headerMembers > .titleMembers{
    margin-right: auto;
    align-self: flex-end;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}
.headerMembers > .exit{
    margin-left: auto;
    color: lightgray;
    cursor: pointer;
    align-self: flex-start;
}
.Search > input[type=search]:focus{
    outline: none !important;
}

.Search > input[type=search]:focus + .fa-search{
    color:rgb(28, 181, 28);
    transition: 0.5s ease-out;
}
